.git
.gitignore
.env
.env.example
node_modules
vendor
tests
.phpunit.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
README.md
docker-compose.yml
.editorconfig
.styleci.yml
phpunit.xml